mixin ie(condition, content)
  | <!--[!{condition}]>!{content}<![endif]-->
doctype html
html.no-js(lang="en")
  head
    include includes/page_elements/header
  body
    include includes/page_elements/navigation
    main.wrapper
      .main.onepage-wrapper
        section.section.home
          .main_copy_holder
            h1 Outreach To A Dying World Ministries
            p.landing_subheading Mission: Establish A Soul
            p
              em Reaching and direction through the prophetic <span>Spirit</span> to the world.<br>A proud subsidiary of <a href="http://www.christfamelandchapel.com/" target="_blank">Christ Fameland Chapel International
          .home_quick_links
            p <a href="#" target="_self">Statement of Faith</a> // <a href="#" target="_self">Self-Deliverance</a> // <a href="#" target="_self">Receive Prayer</a>
          video(poster="images/blurred_bg.jpg", autoplay, loop) We sincerely apologize, but it appears that your browser does not support this video type. However you may download a copy <a href="video/clouds_bg.mp4"></a>
            source(src="video/clouds_bg.mp4")
        section.section.home_about
          .row
            .col-md-offset-8.col-md-4.col-sm-12.aligner
              .aligner-inner
                h1 What is this website for?
                p <span class=verse>For all those things hath mine hand made, and all those things have been, saith the LORD: but to this man will I look, even to him that is poor and of a contrite spirit, and trembleth at my word.<a href="http://biblehub.com/isaiah/66-2.htm" target=_blank>Isaiah 66:2</a></span> This website is for those who are looking for an answer. Those people who have tried everything, but don't know where else to turn. I want to let you in on a little secret: <strong>good poeple don't go to heaven!</strong> Believers in the <span class=jesus>Lord Jesus Christ</span> go to heaven! Jesus isn't interested in your good works, he is only interested in your heart.</p><br><p>When he hung naked on the cross he was thinking of you. It doesn't matter what you've done, we don't care and neither does Jesus. It's important to remember that <em>God is light and in him there is no darkness.</em> So the darker your past or the things you've done, the brighter you'll shine for <span class=jesus>Jesus</span>. <span class=jesus>Jesus</span> still heals, he still delivers  and he still sets people free. <strong><span class=jesus>Jesus</span> is the answer!</strong> Don't give up on yourself, there is a way and there is help. You can't always control how you start out in life, but you can control the way you finish!
        section.section.page_index_links
          .container-fluid
            .row
              .col-xs-12.col-md-4.aligner
                  .index_title_holder.fa.fa-home
                    h2 Christ Fameland Chapel
                    p More about my home and Apostle Dan Arkblessing
                  .page_section_popup
                    .popup_holder
                      h3 This is test content for the first div
                      hr
                      p I am some sexy test content
                      a(href="#", target="_blank")
                        .button I am a button to some great content
              .col-xs-12.col-md-4.aligner
                  .index_title_holder.fa.fa-bullhorn
                    h2 My Testimony
                    p My journey with Christ to complete deliverance
                  .page_section_popup
                    .popup_holder
                      h3 This is test content for the first div
                      hr
                      p I am some sexy test content
                      a(href="#", target="_blank")
                        .button I am a button to some great content
              .col-xs-12.col-md-4.aligner
                  .index_title_holder.fa.fa-heartbeat
                    h2 Why Do I Need A Savior?
                    p Meeting the man from Galilee.
                  .page_section_popup
                    .popup_holder
                      h3 This is test content for the first div
                      hr
                      p I am some sexy test content
                      a(href="#", target="_blank")
                        .button I am a button to some great content
              .col-xs-12.col-md-4.aligner
                  .index_title_holder.fa.fa-globe
                    h2 God is not idle
                    p What the Lord is doing for believers around the world.
                  .page_section_popup
                    .popup_holder
                      h3 This is test content for the first div
                      hr
                      p I am some sexy test content
                      a(href="#", target="_blank")
                        .button I am a button to some great content
              .col-xs-12.col-md-4.aligner
                  .index_title_holder.fa.fa-shield
                    h2 Victory over the Enemy
                    p Walking in victory as an heir in Christ.
                  .page_section_popup
                    .popup_holder
                      h3 This is test content for the first div
                      hr
                      p I am some sexy test content
                      a(href="#", target="_blank")
                        .button I am a button to some great content
              .col-xs-12.col-md-4.aligner
                  .index_title_holder.fa.fa-user-o
                    h2 Counselling
                    p Dealing with the issues of life.
                  .page_section_popup
                    .popup_holder
                      h3 This is test content for the first div
                      hr
                      p I am some sexy test content
                      a(href="#", target="_blank")
                        .button I am a button to some great content
        section.section.monthly_word.aligner
          .container.section
            .row
              .col-md-12
                h1 Word for the Month
              .col-md-12.aligner
                .aligner-inner.main_message
                  img.main_post_img(src="images/bg_imgs/spending_time_with_god.jpg", alt="descriptive alt text")
                  h4 Post Title
                  p This is a post excerpt... This is a post excerpt... This is a post excerpt... This is a post excerpt... This is a post excerpt...
            hr
            .row
              .col-md-4
                img(src="images/bg_imgs/spending_time_with_god.jpg", alt="descriptive alt text")
                h4 Post Title
                p This is a post excerpt... This is a post excerpt... This is a post excerpt... This is a post excerpt... This is a post excerpt...
              .col-md-4
                img(src="images/bg_imgs/spending_time_with_god.jpg", alt="descriptive alt text")
                h4 Post Title
                p This is a post excerpt... This is a post excerpt... This is a post excerpt... This is a post excerpt... This is a post excerpt...
              .col-md-4
                img(src="images/bg_imgs/spending_time_with_god.jpg", alt="descriptive alt text")
                h4 Post Title
                p This is a post excerpt... This is a post excerpt... This is a post excerpt... This is a post excerpt... This is a post excerpt...
        section.section.get_prayer.aligner
          .container-fluid
            .row
              .col-xs-12.col-md-4.col-md-offset-1
                h1 Prayer Requests
                p.prayer_offer
                  em Personal, Career, Relationships, Matters of the Spirit, Any Impossible Situation.
                p I believe in the power of prayer. <span class="verse">The fervant effective prayer of the righteous availeth much <a href="#" target="_blank">... KJV</a></span> When come before the throne of God with boldness and as heirs to the kingdom, we should have faith that we will receive what we ask for (if it aligns with the word). I belive in the intercessary prayer, if you do as well then please join your faith with mine and submit your prayer requests below.
              div(class="col-xs-12 col-md-4 col-md-offset-1")
                form
                  input(placeholder="enter your name", type="text")
                  input(placeholder="enter your email address", type="email")
                  textarea(draggable="false", placeholder="what would you like prayer for?")
    aside
        include includes/page_elements/aside
    include includes/page_elements/footer